body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 143, 204);
}
header
{
    text-align: center;
    color: white;
}
section
{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.653);
}
footer
{
    text-align: center;
    color: rgb(167, 167, 167);
    font-style: italic;
}