*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-image: linear-gradient(45deg, red, blue);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
header
{
    text-align: center;
    color: white;
    padding: 5vh;
}
section
{
    background-color: rgba(84, 84, 84, 0.714);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.796);
    padding: 15px;
    margin: auto;
    width: 500px;  
    text-align: center;
}
footer
{
    display: grid;
    text-align: center ;
    color: rgb(0, 0, 0);
    font-style: italic;
    justify-content: center;
}
#SelectNumbers
{
    width: 100%;
    outline: none;
    
}

input,p
{
    padding:  10px 0;
    text-align: justify;
   
}
section p, header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input:focus
{
    outline: none;
    
}
input[type='submit']{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #08558b;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#add, #RemoveNumbers, #Clear{
    width: 30%;
    
    margin:  3% 0 0 2%;
}
#check{
    width: 96%;
}
input[type="submit"]:hover{
    transition: .5s;
    background-color: #000;
}
#Answer{
    margin: 10px;
}
a
{
    color: white;
}
a:hover{
    color: yellow;
}
