body
{
    background-color: rgb(0, 120, 150);
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    color: white;
}
section
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    padding: 15px;
    width: 500px;
    margin: auto;
}
img
{
    position: relative;
    left: 125px;
    
}


